/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --primary-color: #219f95;
  --secondary-color-light: #afcedd;
  --black-color: #000000;
  --white-color: #ffffff;
  --heading1-color: #1e1e1e;
  --heading2-color: #234894;
  --font-color-sub: #696969;
}
html {
  font-size: 62.5%;
}
/*button*/
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  /* white-space: nowrap; */
  font-size: 1.2rem;
  /* width: 100%;  */
}
.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}

/*BADGE*/
.badge {
  outline: 0;
  border-radius: 6px;
  padding: 0.6rem 1.5rem;
  text-align: center;
  display: inline-block;
  /* text-transform: uppercase; */
  background-color: var(--secondary-color-light);
  color: var(--heading2-color);
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .badge {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.8rem;
  }
}
.current_request {
  display: grid;
  gap: 2rem 3rem;
  margin: 5.6rem 5.2rem;
}
.membership {
  background-color: #ccc;
}
@media screen and (min-width: 768px) {
  .current_request {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .current_request {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* /////////////////////////////////////////////////// */

.member__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.doc {
  color: var(--heading2-color);
}
.date {
  color: var(--font-color-sub);
}
.profile__image {
  display: flex;
  flex-direction: column;

}

img{
  background-image:;
  border-radius: 40px;

}
